:root {
  --brand-color: #2e2f42;
  --contacts-color: #434455;
  --footer-color: #f4f4fd;
  --buttons-color: #4d5ae5;
  --paragrah-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --background-color: #fff;
  --background-color-button: #f4f4fd;
  --border-color: #e7e9fc;
}

body {
  font-family: var(--text-font-family);
  font-family: var(--text-font-family);
  color: var(--contacts-color);
  background-color: var(--background-color);
}

.white {
  background-color: #fff;
}

.logo {
  color: var(--buttons-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25.5px 76px 25.5px 156px;
  margin-right: 76px;
}

.logo-light {
  color: #f4f4fd;
}

.logo-dark {
  color: var(--brand-color);
}

.container {
  width: 1158px;
  margin: auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 24px;
  align-items: center;
}
.header-butttons-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  list-style-type: none;
  padding: 24px 0 24px 0;
}

.header-list {
  color: var(--brand-color);
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.32px;
  list-style-type: none;
  padding: 24px 0 24px 0;
}

.header-list:hover {
  color: #404bbf;
}
.header-list:focus {
  color: #404bbf;
}
.header-contacts {
  color: var(--contacts-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.header-contacts-position {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  align-items: center;
}
.header-contacts:hover {
  color: #404bbf;
}

.header-contacts:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.images {
  display: block;
}
.title {
  color: #fff;
  background-color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}

.title-section {
  padding-bottom: 188px;
  padding-top: 188px;
  background-color: var(--brand-color);
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-title {
  color: #fff;
  cursor: pointer;
  background: var(--buttons-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}

.button-title:hover {
  background-color: #404bbf;
}
.button-title:focus {
  background-color: #404bbf;
}

.features-container {
  padding: 120px 0 120px;
}

.chapters-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.subtitles {
  color: var(--brand-color);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.subtitle-item {
  width: 100%;
  min-width: 264px;
}
.subtitles-text {
  color: var(--contacts-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.images-container {
  padding-left: 156px;
}

.images-position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.images-item {
  display: flex;
  flex-basis: calc((100% - 48px) / 3);
}

.chapters-title {
  color: var(--brand-color);
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.chapters-color {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
}

.jobs-position {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}
.persons {
  padding: 32px 0;
}

.job-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px 4px;
}
.name-teamcard {
  color: var(--brand-color);
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  background-color: #fff;
  margin-bottom: 8px;
}
.name-teamcard-centered {
  text-align: center;
}
.positions-teamcard {
  color: var(--contacts-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.teamcard-details {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.buttons {
  color: var(--buttons-color);
  background-color: #f4f4fd;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  padding: 12px 24px 12px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.buttons:hover {
  color: #ffffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.buttons:focus {
  color: #fff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.functions-paragraphs {
  color: var(--contacts-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer {
  color: var(--footer-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.footer-background {
  background-color: var(--brand-color);
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  padding-left: 156px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 0;
}

.logo-footer {
  color: var(--buttons-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  padding-top: 100px;
}

.buttons-list-port {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.images-port {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 72px;
  column-gap: 24px;
  row-gap: 48px;
}

.item-image-port {
  max-width: 264px;
  width: 100%;
  width: calc((100% - 48px) / 3);
  border: 1px solid var(--border-color);
}

.portfolio-container {
  padding: 96px 0 120px 0;
}
